.error-page {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .title {
        font-size: var(--fontSize-Bigger);
    }

    .subtitle {
        margin: 20px 0 70px;
        font-size: var(--fontSize-Primary);
    }
}
